<h1>Play#score</h1>
<br>

<p>******** Now your result ********</p>
<br>

<p>Your grid: <%= @grid_save %> </p>

<br>

<p>Your word: <%= @query %> </p>

<br>

<p>Your time taken to answer: <%= @result[:time]%> </p>

<br>


<p>Your score: <%= @result[:score]%> </p>

<br>


<p>Message: <%= @result[:message]%> </p>


